/* Reset CSS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    
    scroll-behavior: smooth;
    font-family:helvetica,arial,sans-serif;
    
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới.
3.Từ tổng quan đến chi tiết
*/
/* 
1. Vị trí
2. Kích thước (width, height,..
3. Màu sắc
4.Kiểu dáng ( kiểu chữ, tròn vuông,..)
*/
/* #main{
}
*/
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear:both;
}
.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top:16px;
}
.col {
        float:left;
        padding-left: 8px;
        padding-right: 8px;
}
.col-full {
    width:100%;
}
    .col-half {
        width:50%;
    }
.clear {
    /* cách 2 giải quyết float */
    clear: both;
}
.text-white {
    color:#fff !important;
}
#header{
height: 46px ;
background-color: black;
position: fixed;
top:0;
left:0;
right:0;
/* Làm nổi header z-index */
z-index: 1;

}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}
#nav .subnav {
    list-style-type: none;
}

#nav li {
    
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    /* Này là chỗ More xuống */
    display: block;

    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
}

#nav > li:hover > a,
    #nav .subnav li:hover a {
color: #000;
background-color: #ccc;

    }

    #nav li:hover .subnav {
        display:block;
    }

#nav .subnav {
    /* Chú ý cái này là chỗ More */
    display: none; 
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    /* Bóng đổ */
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.3) ;
}
#nav .subnav a {
 color:#000;
 padding: 0 12px;
 line-height: 38px;
}

#header .search-button {
float: right;
padding: 0 23.97px;
cursor:pointer;

}
#header .search-button:hover {
background-color: #f44336;
}

#header .search-icon {
color:#fff;
line-height: 46px;
font-size: 14px;
}

#slider{
    position: relative;

margin-top: 46px;


}

#slider .img_heading {
    vertical-align: middle;
    border-style: none;
}

#slider .text-content {
position: absolute;
bottom: 47px;
/*left:50%;
transform: translateX(-50%);
text-align: center;
Or:
left:0;
right:0;

width:100%; */
left:50%;
transform: translateX(-50%);
text-align: center;

color: #fff;


}

#slider .text-dis {
margin: 15px;
}

#slider .text-heading {
    margin: 10px;
}

 

#content .content-section {
max-width: 800px;
    padding: 64px 0px;
   text-align: justify;
   margin-left: auto;
   margin-right: auto;
   
}

#content .section-heading {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400;
}

#content .section-subheading {
    color:darkgrey;
    font-size: 15px;
    padding: 22px 0;
    font-style: italic;
    line-height: 1.5;
}

#content .section-heading,
#content .section-subheading {
    text-align:center;
}
#content .content-section2 {
    max-width: 800px;
    padding: 64px 0px;
   text-align: justify;
   margin-left: auto;
   margin-right: auto;
}
#content .section-heading2 {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400;
    text-align: center;
}
#content .section-subheading2 {
    color:darkgrey;
    font-size: 15px;
   margin: 15px 0px;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
}

#content .member-list {
    padding: 64px 16px;
    /* cách 1 giải quyết float */
    overflow: hidden;
}

#content .member-item1  {
float: left;
width: 33.33333%;
text-align: center;

}
#content .member-name {
margin: 15px;
line-height: 1.5;

}
#content .member-img {
   border-radius: 4px;
    width:122px;
    
}
   
/* Tour section */

.tour-section {
    background-color: #000;

}
.ticket-list {
    background-color:#fff;
    color: #757575;
    font-size: 15px;
    
    margin-top: 40px;
}
.ticket-list li {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    /* Làm mất chấm thẻ li */
    list-style: none;
    
    
}

.ticket-list .sold-out {
background-color: #f44336;
color:white;
margin: 0 0 0 16px;
padding: 0 8px; 
}

.ticket-list .number-month {
float: right;
margin-right: 16px;
border-radius: 50%;
background-color: #000;
color:#fff;
padding: 0 8px;
text-align: center;

font-size: 15px;
line-height: 1.5;
}

.place-list {
margin-top: 32px;
margin-bottom:48px;
}

.place-item {

    float: left;
    width: calc(100% /3);
    padding: 0 8px;
    
}
 .place-body {

    background-color: #fff;
    padding: 16px;
    font-size: 15px;
 }

 .place-img {
    width: 100%;
    display: block;
 }

 
 .place-heading {
    font-size: 15px;
    font-weight: 600;
 }

 .place-time {
    margin-top: 15px;
    opacity: 0.6;
 }

 .place-title {
    margin-top: 15px;
    line-height: 1.6;
 }

 .place-buyticket {
    color: #fff;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
 }
 .place-buyticket:hover {
    background-color: #ccc;
    color: black;
    border:none;
    cursor: pointer;
 }

 
    .modal {
        position: none;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        display: flex ;
        align-items: center;
        justify-content: center;
   
    
   
 }
 .modal-contain {
    width: 900px;
    position: relative;
    min-height: 200px;
    box-sizing: border-box;
    background-color: #fff;
    padding:0;
    margin: 0;
    max-width: calc(100%-32px);
 }
 .modal-header {
    background-color: #009688;
    
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    letter-spacing: 4px;
    line-height: 1.5;
    
 }
 .modal-icon {
    margin-right: 16px;
 }
 .modal-close:hover {
    opacity: 1;
 }
 .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 16px;
    font: 24px;
    cursor: pointer;
    opacity: 0.9;
 }
 .modal-body {
    padding:16px;
 }
 .modal-label {
    display:block;
    font-size:15px;
    margin-bottom: 12px;
 }
 .modal-input {
    border: 1px solid #ccc;
    width:100%;
    padding: 8px;
    font-size: 15px;
    margin-bottom: 12px;
 }
 #buy-ticket {
    margin: 16px 0px;
    font-size: 15px;
    padding: 16px;
    background-color:#009688;
    width: 100%;
    justify-content: center;
    align-items: center;
    border:none;
    color:#fff;
    text-transform: capitalize;
    opacity: 0.9;
 }

 #buy-ticket:hover {
    opacity: 1;
    background-color:#ccc   ;
    
 }
 .modal-footer {
    float: right;
    font-size: 15px;
    margin: 15px 0px;
    padding: 12px;
 }
 .contact-content {
    margin-top: 48px;
 }
 .contact-info {
    font-size:18px;
    line-height: 1.5;
 }
 .contact-info i[class*="fa-"] {
    width:30px;
    display: inline-block;
 }
 .contact-form {
    font-size: 15px;
 }
 .contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width:100%;
 }
 .contact-form .form-submit {
    font-size:15px;
    color:#fff;
    background-color: #000;
    float:right;
    margin: 16px 0px;
    padding: 8px 16px;
    
 }
 .contact-form .form-submit:hover {
    background-color: #ccc;
border: 1px solid #ccc;
cursor: pointer;

 }
 .map-section img {
    width: 100%;
 }
 .footer {
    align-items: center;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
    color: #ccc;
 }

 .footer .social-icon {
   font-size: 20px;
   
 }
 .footer .social-icon a {
    text-decoration: none;
    color: #757575;
 }
 .footer .social-icon a:hover {
    color: #ccc;
 }
 .footer .powered {
    margin: 15px 0px;
 }
